<section id="header">
    <div class="header_content">

        <div> <img src="/images/logo.svg" alt="Logo DABubble"> </div>
        <div id="search">
            <input type="text" placeholder="Devspace durchsuchen">
            <img src="/images/search.svg" alt="Search icon">
        </div>

        <div id="user_space" (click)="toggleUserMenu()">
            <span id="user_name">Frederik Beck</span>
            <img src="/images/Profile bild.svg" alt="User Bild">
            <img src="/images/arrow-down.svg" alt="Arrow down">
            <!--Burger-Menü-->
            <div class="user-menu-modal" *ngIf="showUserMenu" (click)="$event.stopPropagation()">
                <div class="modal-backdrop" (click)="closeUserMenu()"></div>
                <div class="user-menu-content">
                    <ul>
                        <li (click)="openProfile()">Profil</li>
                        <li (click)="logOut()">Log out</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>