<main id="impressum">
    <div id='impressum_container'>
        <div id='impressum_content'>
            <h1>Impressum</h1>
            <h2>Verantwortliche(r)</h2>
            <p class='generator_user_input'>Magda Danielyan</p>
            <h3>Postanschrift</h3>
            <p class='generator_user_input'>Am Silberberg 17, 32839 Steinheim</p>
            <h3>Kontakt</h3>
            <address>
                <p>E-Mail: mdanielyan&#64;50gmail.com</p>
                <p>Telefon: 01728292986</p>
            </address>
            <h2>Hinweise zur Website</h2>
            <h3>Information gemäß § 36 VSBG</h3>
            <p class='generator_user_input'>Gemäß § 36 VSBG (Verbraucherstreitbeilegungsgesetz – Gesetz über die
                alternative Streitbeilegung in Verbrauchersachen) erklärt der Betreiber dieser Website:

                Wir sind weder bereit noch verpflichtet, an Streitbeilegungsverfahren vor einer
                Verbraucherschlichtungsstelle teilzunehmen.</p>
            <p><em>Dieses Impressum wurde mit Hilfe des <a href="https://www.activemind.de/generatoren/impressum/"
                        target="_blank" rel="noopener">Impressums-Generators der activeMind AG</a> erstellt (Version
                    2024-07-21).</em></p>

        </div>
    </div>

    <footer>
        <a id="datenschutz" href="/datenschutz">Datenschutz</a>
    </footer>
</main>