*,
body {
    /*  background-color: #ECEEFE;*/
    font-family: 'Nunito', sans-serif;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/static/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito/static/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Für Webkit-Browser (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 8px;
    background: #ECEEFE;
}

::-webkit-scrollbar-thumb {
    background: #797EF3;
    border-radius: 8px;
}

/* Für Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #797EF3 #ECEEFE;
}